
*{
    margin: 0;
    padding: 0;
}
.intro{
    padding: 30px;
    margin-top:60px;
}
.locations .hike {
    padding: 30px;
    margin-top: 100px;
    color: white;
    font-weight: normal;
}
.hike{
    background-color: black;
   text-decoration: none;
   display: inline-block;
   align-items: center;
   overflow: hidden;
   border: 10px solid black;
   height: 180px;
   width: 200px;
   margin: 40px 100px;
}
.hike-pic{
    height:100%;
    width:100%;
}

.container .box {
    padding: 30px;
    margin-top: 100px;
    flex: 1;
    color: white;
    font-weight: normal;
}

.box {
    vertical-align: top;
    background-color: black;
   text-decoration: none;
   display: inline-block;
   overflow: scroll;
   border: 10px solid black;
   height: 300px;
   width: 300px;
   margin: 200px 60px;
   margin-left: 0px;
   padding: 20px 20px 20px 20px;
}

.Map {
    height: 100%;
    width: 100%;
    
    
}
